@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.wrapper,
.wrapper .img-area,
.buttons button {
  background: #ecf0f3;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}
.wrapper {
  position: relative;
  width: 300px;
  height: 400px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.wrapper .icon {
  font-size: 17px;
  color: #31344b;
  position: absolute;
  cursor: pointer;
  opacity: 0.7;
  top: 15px;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  font-size: 16px;
}
.wrapper .icon i {
  position: relative;
  z-index: 9;
}
.wrapper .icon.arrow {
  left: 15px;
}
.wrapper .icon.dots {
  right: 15px;
}
.name {
  display: block;
  text-align: center;
}
.subname {
  display: block;
  text-align: center;
  margin-top: 5px;
}

.wrapper .name {
  position: absolute;
  font-size: 23px;
  font-weight: 500;
  color: #31344b;
  display: block;
  top: 55%;
  margin: 10px 0 5px 0;
}
.wrapper .imgcont {
  position: absolute;

  top: 20%;
  max-width: 80%;

  background-color: #31344b;
}
.wrapper .imgcont .imgs {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  background-size: cover;
  margin: auto;
  display: block;
}
.wrapper .social-icons {
  margin: 15px 0 25px 0;
}

.buttons button:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
}
.buttons button:hover:before {
  z-index: -1;
  border-radius: 5px;
}

.wrapper .buttons {
  position: absolute;
  top: 85%;
  display: inline-block;
  text-align: center;
}
.buttons button {
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 0;
  color: #31344b;
  font-size: 17px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  z-index: 4;
}
.buttons button:first-child {
  margin-right: 10px;
}
.buttons button:last-child {
  margin-left: 10px;
}
