.gl {
  display: flex;
}

.commonIcons:hover {
  color: #000 !important;
}
.com:hover {
  color: rgb(15, 27, 194) !important;
}
@media (max-width: 300px) {
  .services__box {
    width: 100%;
  }
  .bgMain {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 264px) {
  .services__box {
    width: 100%;
  }
  .bgMain {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/* .container {
  background-image: url("../img/developerActivity.svg");
  background-size: cover;
  width: auto;
  height: auto;
} */
/* .services__box {
  background-image: url("../img/developerActivity.svg");
  background-size: cover;
} */
