.gl {
  display: flex;
}
.services {
  padding-top: 30px;
}
.commonIcons:hover {
  color: #000 !important;
}
.com:hover {
  color: rgb(15, 27, 194) !important;
}
@media (max-width: 300px) {
  .services__box {
    width: 100%;
  }
  .bgMain {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 264px) {
  .services__box {
    width: 100%;
  }
  .bgMain {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
