.contactIcon {
  height: 100px !important;
  width: 30px !important;
  color: #ccc;
  margin-top: 6px;
}
.col-6 {
  margin-top: 50px;
}
.contacts {
  background-color: #0f101c;
}
.col-6 .contactCircles {
  font-size: 1.6rem;
}
