.contactIcon {
  height: 100px !important;
  width: 30px !important;
  color: #ccc;
}
.col-6 {
  margin-top: 50px;
}
/* .contacts {
  background-color: ;
} */
.col-6 .contactCircles {
  font-size: 1.6rem;
}
.hr {
  opacity: 0.5;
  margin-bottom: 15px;
}
