.social-media-div {
  font-size: 2em;
  width: 100%;
  margin-top: 15px;
}

.headerIcon {
  color: white;
  border-radius: 2rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  width: 40px !important;
  height: 40px !important;

  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 5px;

  transition: 0.2s ease-in;
}

.L {
  background-color: #0e76a8;
}

.G {
  background-color: #333;
}

.T {
  background-color: #1da1f2;
}

.I {
  background-color: #c13584;
}

/* Hover Transition */
.T:hover,
.G:hover,
.L:hover,
.F:hover,
.I:hover,
.medium i:hover {
  background-color: black;
}

/* Media Query */
@media (max-width: 768px) {
  .social-media-div {
    text-align: center;
  }
}
